# Dependencies
node_modules/

# Build Outputs
dist/
build/
out/

# Environment Variables
.env
.env.*
!.env.example

# Midnight System
midnight-level-db/

# System Files
.DS_Store
Thumbs.db
Desktop.ini
*.log
